$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.show-item-data {
  text-align: center;
}
body {
  background-color: #CCBADC;
}
.btn-secondary {
  background-color: $gray;
  border-color: $white;
  color: $black;
}
.sign-up-in {
  width: 100%;
 }

.title {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  margin-top: 100px;
}

.bucket {

}

.form-group {
  font-family: sans-serif;
  background-color: white;
  padding: 25px;
  text-align: center;
  width: 500px;
  box-shadow: 1px 1px 5px #D2FFE9;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-secondary:hover {
  border-color: $white;
}

body {
  background-color: $pink;
}

.close {
  float: right;
}

.form-group {
  background-color: $white;
  box-shadow: 1px 1px 5px $light-blue;
  font-family: sans-serif;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  text-align: center;
  width: 500px;
}

h1, h2 {
  font-size: 20px;
  font-weight: bold;
}

small {
  color: $light-blue;
}

.show-item-data, .todo {
  font-family: Courier;
}


#user-message {
  display: inline-flex;
  font-family: Courier;
  font-weight: bold;
}

.sign-in, .sign-up, .sign-out, .change-password {
  display: inline-flex;
  font-family: Courier;
}

.sign-up-in {
  // puts input forms directly underneath eachother
  display: inline-block;
  font-family: Courier;
}
